

.slide {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide1{
    background-image:linear-gradient(180deg, #020411bf 0%, rgba(7, 2, 17, 0.641) 100%), url("../assets/creative-graphic-designer-sitting-table.jpg");
}

.slide2{
    background-image:linear-gradient(180deg, #0702119b 0%, rgba(7, 2, 17, 0.598) 100%), url("../assets/medium-shot-man-working-from-home.jpg");
}

.slide3{
    background-image:linear-gradient(180deg, #070211ac 0%, rgba(7, 2, 17, 0.587) 100%), url("../assets/person-working-from-home-with-pet-dog.jpg");
}

.slide4{
    background-image:linear-gradient(180deg, #0702119e 0%, rgba(7, 2, 17, 0.66) 100%), url("../assets/young-man-glassess-is-working-his-workplace-office-he-wears-blue-shirt-he-is-writing-notebook-smiling-camera.jpg");
}